/* general */

.footer-hover {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.footer-hover:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.text-black-40 {
    color: rgba(0, 0, 0, 0.4)
}

/* form lien */
.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Charger";
}

.topNavBack {
    width: 100%;
}

/* Dashboard */
#postImg {
    width: 100%;
}

/* Dashboard - Nav*/
.dropdown-item:hover {
    text-decoration: none;
    background-color: #000000 !important;
    color: #fff !important;
}


@media screen and (max-width: 640px) {

    table,
    tbody,
    td,
    tr {
        display: flex;
        flex-wrap: wrap;
    }

}


@media only screen and (min-width: 200px) and (max-width: 768px) {

    .dropdown-menu {
        position: absolute;
        left: -50px;
    }


    table,
    tbody {
        display: block;
    }

    tr {
        display: table;
    }

    td {
        display: table-row;
    }

}

@media only screen and (min-width: 200px) and (max-width: 820px) {

    .dropdown-menu {
        position: absolute;
        left: -50px;
    }
}