{% extends 'Backend/layout.html.twig' %}
{#----------------------------BLOC-Title----------------------------#}
{% block head %} <title> Page graphique </title> {% endblock %}
{#----------------------------END-BLOC-Title----------------------------#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <br>
            {#----------------------------Succes-Submit---------------------------#}
{% if data.verifAndAddGraph.successGraph %}
   {% for succes in data.verifAndAddGraph %}
   <div class="alert alert-primary" role="alert">
       {{succes}}
   </div>
   {% endfor %}
{#----------------------------END-Succes-Submit---------------------------#}
{#----------------------------Errors-Submit---------------------------#}
{% else %}
   {% for error in data.verifAndAddGraph %}
   <div class="alert alert-danger" role="alert">
       {{error}}
   </div>
   {% endfor %}
{% endif %}
{#----------------------------END-Errors-Submit---------------------------#}
<br>
            {#----------------------------Card----------------------------#}
            <div class="card mx-xl-5">
                {#----------------------------Card-Body----------------------------#}
                <div class="card-body">
                    <form action="http://3bigbangbourse.fr/?p=graph&action=send"
                        method="POST" enctype="multipart/form-data">
                        {#----------------------------Selection-Catégorie-graph----------------------------#}
                        <div class="input-group">
                            <select class="browser-default custom-select"
                                name="selectGraph">
                                <option value="Prudent" selected>Prudent</option>
                                <option value="Equilibré">Equilibré</option>
                                <option value="Dynamique">Dynamique</option>
                                <option value="Autre">Autre</option>
                            </select>
                        </div>
                        <br>
                        {#----------------------------File-Image-Graph----------------------------#}
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" name="imageGraph"
                                    class="custom-file-input"
                                    id="inputGroupFile"
                                    aria-describedby="inputGroupFileAddon">
                                <label class="custom-file-label"
                                    for="inputGroupFile">Choisir une image</label>
                            </div>
                        </div>
                        <br>
                        {#----------------------------Legende-Graph----------------------------#}
                        <label for="defaultFormCardDesc" class="grey-text
                            font-weight-light">Legende</label>
                        <input type="text" name="legende" id="defaultFormCardDesc"
                            class="form-control">
                        <br>
                        {#----------------------------Submit----------------------------#}
                        <div class="text-center py-4 mt-3">
                            <input class="btn btn-dark" type="submit" name="submit" value="Envoyer"><i
                                    class="fa fa-paper-plane-o ml-2"></i></input>
                        </div>
                    </form>
                </div>
                {#----------------------------END-CARD-BODY----------------------------#}
            </div>
            {#----------------------------END-CARD----------------------------#}
        </div>
    </div>
</div>
{% endblock %}