<!DOCTYPE html>
<html lang="en">
    <head>
        {#----------------------------Encodage-UTF-8---------------------------#}
        <meta charset="UTF-8">
        {#----------------------------Responsive-VIEWPORT-CSS---------------------------#}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block head %} {% endblock %}
        {#----------------------------BM-ICON----------------------------#}
        <link rel="icon" href="img/bm-favicon.ico" type="image/x-icon">
        {#----------------------------Font-Awesome----------------------------#}
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        {#----------------------------Material-Design-Bootstrap----------------------------#}
        <link rel="stylesheet" href="css/MDB-FREE/bootstrap.min.css">
        <link rel="stylesheet" href="css/MDB-FREE/mdb.min.css">
        {#----------------------------Style-Css---------------------------#}
        <link rel="stylesheet" href="css/backend.css">
        {#----------------------------Tiny mce---------------------------#}
        <script src="./js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
        <script>tinymce.init({
            selector: '#mytextarea',
            encoding: "UTF-8",
            element_format : 'html',
            height: 1500,
            entity_encoding : "raw",
            toolbar_drawer: 'floating',
            mode : "textarea",
            verify_html : false,
            });
    </script>
    </head>
    <body>
        <header class="navbar navbar-dark black">
            <div class="container">
                <div class="d-flex topNavBack">
                    {#----------------------------NAVBAR----------------------------#}
                    <nav class="mb-1 navbar navbar-expand-md p-2">
                        <button class="navbar-toggler" type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent-333"
                            aria-controls="navbarSupportedContent-333"
                            aria-expanded="false" aria-label="Toggle
                            navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse"
                            id="navbarSupportedContent-333">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    {#----------------------------DashBoard---------------------------#}
                                    <a class="nav-link"
                                        href="?p=dashboard&action=connexion">
                                        Tableau de bord
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    {#----------------------------Partenaire----------------------------#}
                                    <a class="nav-link dropdown-toggle"
                                        id="navbarDropdownMenuLink-333"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">Espace Partenaires
                                    </a>
                                    <div class="dropdown-menu dropdown-default"
                                        aria-labelledby="navbarDropdownMenuLink-333">
                                        {#----------------------------Create-Link---------------------------#}
                                        <a class="dropdown-item"
                                            href="?p=partenaire">Créer un lien</a>
                                        {#----------------------------Liste-Link----------------------------#}
                                        <a class="dropdown-item"
                                            href="?p=table&liste=listePartenaires">Liste
                                            des liens</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    {#---------------------------Article---------------------------#}
                                    <a class="nav-link dropdown-toggle"
                                        id="navbarDropdownMenuLink-333"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">Articles
                                    </a>
                                    <div class="dropdown-menu dropdown-default"
                                        aria-labelledby="navbarDropdownMenuLink-333">
                                        {#----------------------------Create-Post----------------------------#}
                                        <a class="dropdown-item" href="?p=form">Créer
                                            un article</a>
                                        {#----------------------------Liste-Post----------------------------#}
                                        <a class="dropdown-item"
                                            href="?p=table&liste=listeArticlesBack&perpage=1">Liste
                                            des articles</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                        id="navbarDropdownMenuLink-333"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">Page
                                    </a>
                                    <div class="dropdown-menu dropdown-default"
                                        aria-labelledby="navbarDropdownMenuLink-333">
                                        {#---------------------------Liste-Page----------------------------#}
                                        <a class="dropdown-item"
                                            href="?p=table&liste=listePages">Liste
                                            des pages</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle"
                                        id="navbarDropdownMenuLink-333"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">Graphique
                                    </a>
                                    <div class="dropdown-menu dropdown-default"
                                        aria-labelledby="navbarDropdownMenuLink-333">
                                        {#---------------------------Liste-Graphique----------------------------#}
                                        <a class="dropdown-item"
                                            href="?p=table&liste=listeGraphiques">Liste
                                            des graphiques</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    {#----------------------------END-NAVBAR----------------------------#}
                    {#---------------------------BTN-----------------------------#}
                    <div class="ml-auto p-2">
                        <ul class="navbar-nav ml-auto nav-flex-icons">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                    id="navbarDropdownMenuLink-333"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"> <i class="fas
                                        fa-user"></i>
                                        Profil
                                </a>
                                <div class="dropdown-menu dropdown-default"
                                    aria-labelledby="navbarDropdownMenuLink-333">
                                    {#---------------------------Retour-Home----------------------------#}
                                    <a class="dropdown-item"
                                        href="?p=home">
                                        Retour site</a>
                                    </a>
                                    {#---------------------------BTN-UserProfile----------------------------#}
                                    <a class="dropdown-item"
                                        href="?p=user">
                                        Gestion du compte
                                    </a>
                                    {#---------------------------BTN-UserProfile----------------------------#}
                                    <a class="dropdown-item"
                                    href="http://projet5.marcalban.fr/?p=dashboard&action=logout">
                                    Déconnexion
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {#---------------------------END-BTN-----------------------------#}
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        {#---------------------------Jquery/JavaScript-----------------------------#}
        <script type="text/javascript" src="js/MDB-Free/jquery.min.js"></script>
        {#---------------------------Bootstrap-Tool-----------------------------#}
        <script type="text/javascript" src="js/MDB-Free/popper.min.js"></script>
        <script type="text/javascript" src="js/MDB-Free/bootstrap.min.js"></script>
        {#---------------------------MDN-Javascript-----------------------------#}
        <script type="text/javascript" src="js/MDB-Free/mdb.min.js"></script>
        {#---------------------------Add-JavaScritp-----------------------------#}
        {% block javascript %}
        {% endblock %}
    </body>
</html>