{% extends 'Backend/layout.html.twig' %}
{#---------------------------BLOC-Title-----------------------------#}
{% block head %} <title> Gestion de compte </title> {% endblock %}
{#---------------------------END-BLOC-TITLE-----------------------------#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            {#---------------------------Card-----------------------------#}
            <div class="card mx-xl-5">
                {#---------------------------Card-Body-----------------------------#}
                <div class="card-body">
                    <form action="/?p=user&action=save" method="POST">
                        <p class="h4 text-center py-4">Gestion de compte</p>
                        <div class="form-row">
                            <div class="col-6">
                                {#---------------------------Input-Name-----------------------------#}
                                <label for="defaultFormCardName"
                                    class="black-text
                                    font-weight-light">Nom</label>
                                <input type="text" name="name"
                                    id="defaultFormCardName"
                                    class="form-control" value="{% for datasUser
                                    in
                                    data.userData %}{{datasUser.name}}{% endfor
                                    %}">
                            </div>
                            <div class="col-6">
                                {#---------------------------Input-Last_Name-----------------------------#}
                                <label for="defaultFormCardLastName"
                                    class="black-text
                                    font-weight-light">Prénoms</label>
                                <input type="text" name="lastName"
                                    id="defaultFormCardLastName"
                                    class="form-control" value="{% for datasUser
                                    in
                                    data.userData %}{{datasUser.lastName}}{%
                                    endfor %}">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-6">
                                {#---------------------------Input-Email-----------------------------#}
                                <label for="defaultFormCardEmail"
                                    class="black-text
                                    font-weight-light">E-mail</label>
                                <input type="email" name="mail"
                                    id="defaultFormCardEmail"
                                    class="form-control" value="{% for datasUser
                                    in
                                    data.userData %}{{datasUser.mail}}{% endfor
                                    %}">
                            </div>
                            <div class="col-6">
                                {#---------------------------Input-Confirm-Email-----------------------------#}
                                <label for="defaultFormCardEmailConf"
                                    class="black-text
                                    font-weight-light">Confirmation de l'e-mail</label>
                                <input type="email" name="mailConf"
                                    id="defaultFormCardEmailConf"
                                    class="form-control" value="{% for datasUser
                                        in
                                        data.userData %}{{datasUser.mail}}{% endfor
                                        %}">
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-6">
                                {#---------------------------Input-Paswword-----------------------------#}
                                <label for="defaultFormCardPassword"
                                    class="black-text font-weight-light">Mot de
                                    passe</label>
                                <input type="password" name="newMdp"
                                    id="defaultFormCardPassword"
                                    class="form-control">
                            </div>
                            <div class="col-6">
                                {#---------------------------Input-Paswword-Confirmatio-----------------------------#}
                                <label for="defaultFormCardPasswordConf"
                                    class="black-text font-weight-light">Confirmation
                                    mot de passe</label>
                                <input type="password" name="newMdpConf"
                                    id="defaultFormCardPasswordConf"
                                    class="form-control">
                            </div>
                        </div>
                        <br>
                        {#---------------------------Submit-----------------------------#}
                        <div class="text-center py-4 mt-3">
                            <input type="submit" class="btn btn-dark" name="submit" value="Enregistrer">
                            </input>
                        </div>
                    </form>
                </div>
                {#---------------------------END-CARD-BODY-----------------------------#}
            </div>
            {#---------------------------END-CARD-----------------------------#}
        </div>
    </div>
</div>
{% endblock %}