{% extends 'Backend/layout.html.twig' %}
{% block head %} <title> Page insertion </title> {% endblock %}
{% block content %}
<!-- Card -->
<div class="container">
    <div class="row">
        <div class="card mx-xl-5 col-12 col-sm-8 col-md-8 col-lg-8  mt-3">
            <!-- Card body -->
            <div class="card-body">
                <!-- Default form subscription -->
                <form>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile"
                                aria-describedby="inputGroupFileAddon">
                            <label class="custom-file-label" for="inputGroupFile">Choisir une image</label>
                        </div>
                    </div>
                    <br>
                    <!-- Default input email -->
                    <label for="defaultFormCardLink" class="grey-text font-weight-light">Lien partenaire</label>
                    <input type="email" id="defaultFormCardLink" class="form-control">
                    <div class="text-center py-4 mt-3">
                        <button class="btn btn-black" type="submit">Envoyer<i
                                class="fa fa-paper-plane-o ml-2"></i></button>
                    </div>
                </form>
                <!-- Default form subscription -->
            </div>
            <!-- Card body -->
        </div>
    </div>
</div>
<!-- Card -->
{% endblock %}