{% extends 'Backend/layout.html.twig' %}
{#---------------------------BLOC-Title-----------------------------#}
{% block head %} <title> Gestion de compte </title> {% endblock %}
{#---------------------------END-BLOC-TITLE-----------------------------#}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
 {#----------------------------Succes-Submit---------------------------#}
 {% if data.userData.message %}
 {% for succes in data.userData %}
 <div class="alert alert-primary" role="alert">
     {{succes}}
 </div>
 {% endfor %}
{#----------------------------END-Succes-Submit---------------------------#}
{#----------------------------Errors-Submit---------------------------#}
 {% else %}
 {% for error in data.userData %}
 <div class="alert alert-danger" role="alert">
     {{error}}
 </div>
 {% endfor %}
 {% endif %}
{#----------------------------END-Errors-Submit---------------------------#}
            {#---------------------------Card-----------------------------#}
            <div class="card mx-xl-5">
                {#---------------------------Card-Body-----------------------------#}
                <div class="card-body">
                    <form action="/?p=password" method="POST">
                        <p class="h4 text-center py-4">Mot de passe</p>
                        <div class="form-row">
                            <div class="col-6">
                                {#---------------------------Input-Paswword-----------------------------#}
                                <label for="defaultFormCardPassword"
                                    class="black-text font-weight-light">Mot de
                                    passe</label>
                                <input type="password" name="newMdp"
                                    id="defaultFormCardPassword"
                                    class="form-control">
                            </div>
                            <div class="col-6">
                                {#---------------------------Input-Paswword-Confirmatio-----------------------------#}
                                <label for="defaultFormCardPasswordConf"
                                    class="black-text font-weight-light">Confirmation
                                    mot de passe</label>
                                <input type="password" name="newMdpConf"
                                    id="defaultFormCardPasswordConf"
                                    class="form-control">
                            </div>
                        </div>
                        <br>
                        {#---------------------------Submit-----------------------------#}
                        <div class="text-center py-4 mt-3">
                            <input type="submit" class="btn btn-dark" name="submit" value="Changez le mot de passe">
                            </input>
                        </div>
                    </form>
                </div>
                {#---------------------------END-CARD-BODY-----------------------------#}
            </div>
            {#---------------------------END-CARD-----------------------------#}
        </div>
    </div>
</div>
{% endblock %}