{% extends 'Frontend/layout.html.twig' %}
{#---------------------------BLOC-TITLE-----------------------------#}
{% block head %} <title>Page not found</title> {% endblock %}
{#--------------------------END-BLOC-TITLE-----------------------------#}
{#---------------------------BLOC-TITLE-PAGE-----------------------------#}
{% block title %}
{% if data.errors %}
Erreur connexion:
{% else %}
404 : ERROR
{% endif %}
{% endblock %}
{#---------------------------END-BLOC-TITLE-PAGE-----------------------------#}
{% block content %}
{#---------------------------CONDITION------------------------------#}
{% if data.errors %}
{#---------------------------BLOC-ERRORS-----------------------------#}
{% for error in data.errors %}
<div class="alert alert-danger" role="alert">
    {{error}}
</div>
{% endfor %}
{#--------------------------END-BLOC-ERRORS-----------------------------#}
{#--------------------------ELSE-CONDITION------------------------------#}
{% else %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Oops : 404 Not Found </h2>
        <p class="lead"> Sorry, an error has occured, Requested page not found!</p>
    </div>
</div>
{% endif %}
{#--------------------------END-CONDITION------------------------------#}
{% endblock %}