{% extends 'Frontend/layout.html.twig' %}
{% block head %} <title>Page not found</title> {% endblock %}
{% block title %} 404 : ERROR {% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-4">Oops : 404 Not Found </h2>
        <p class="lead"> Sorry, an error has occured, Requested page not found!</p>
    </div>
</div>
{% endblock %}