{% extends 'Frontend/layout.html.twig' %}
{% block head %} <title>Contactez-nous</title> {% endblock %}
{% block title %}<h2 class="mt3 text-uppercase"> Contactez-nous</h2> {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-7">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Nom et prénom (requis)"
                                required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" id="email" placeholder="E-mail (requis)"
                                    required="required" /></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="tel" class="form-control" id="tel" placeholder="Téléphone (requis)"
                                minlength="4" maxlength="8" required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="code" placeholder="Code postal (requis)"
                                    minlength="4" maxlength="8" required="required" /></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select id="option" name="option" class="form-control">
                                <option value="" selected>Je suis déjà client(e)</option>
                                <option value="">Je ne suis pas client(e) et souhaite un rendez-vous</option>
                                <option value="">Je ne suis pas client(e) et souhaite des informations</option>
                                <option value="">Je dépose ma candidature</option>
                                <option value="">Je souhaite devenir partenaire</option>
                                <option value="">Autre</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Sujet" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" required="required" rows="5"
                                cols="33" placeholder="Message (requis)"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Verification robot
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-left" id="btnContact">
                            Envoyer ma demande</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}