{% extends 'Frontend/layout.html.twig' %}
{% block head %}
<title>Contactez-nous</title>
{% endblock %}
{% block title %}Contactez-nous{% endblock %}
{% block content %}
<!-- Material form contact -->
<div class="card">

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="?page=contact" method="POST">

            <div class="form-row">
                <div class="col">
                    <!-- Name -->
                    <div class="md-form">
                        <input type="text" id="materialContactFormName" class="form-control">
                        <label for="materialContactFormName">Nom et prénom (requis)</label>
                    </div>
                </div>
                <div class="col">
                    <!-- E-mail -->
                    <div class="md-form">
                        <input type="email" id="materialContactFormEmail" class="form-control">
                        <label for="materialContactFormEmail">E-mail (requis)</label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    <!-- Phone number -->
                    <div class="md-form">
                        <input type="password" id="materialRegisterFormPhone" class="form-control"
                            aria-describedby="materialRegisterFormPhoneHelpBlock">
                        <label for="materialRegisterFormPhone">Téléphone (requis)</label>
                    </div>
                </div>
                <div class="col">
                    <!-- CP -->
                    <div class="md-form">
                        <input type="text" id="materialContactCP" class="form-control">
                        <label for="materialContactFormCP">Code postal (requis)</label>
                    </div>
                </div>
            </div>

            <!-- Option  -->
            <div class="md-form">
                <select class="browser-default custom-select mb-4" id="select">
                    <option value="" disabled="" selected="">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je suis déjà client(e)</font>
                        </font>
                    </option>
                    <option value="1">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je ne suis pas client(e) et souhaite un rendez-vous
                            </font>
                        </font>
                    </option>
                    <option value="2">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je ne suis pas client(e) et souhaite des informations
                            </font>
                        </font>
                    </option>
                    <option value="3">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je dépose ma candidature</font>
                        </font>
                    </option>
                    <option value="3">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Je souhaite devenir partenaire</font>
                        </font>
                    </option>
                    <option value="3">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Autre</font>
                        </font>
                    </option>
                </select>
            </div>
            <!-- Subject -->
            <div class="md-form">
                <input type="text" id="materialContactSubject" class="form-control">
                <label for="materialContactFormSubject">Sujet (requis)</label>
            </div>

            <!--Message-->
            <div class="md-form">
                <textarea id="materialContactFormMessage" class="form-control md-textarea" rows="3"></textarea>
                <label for="materialContactFormMessage">Message (requis)</label>
            </div>

            <!-- POSTs back to the page's URL upon submit with a g-recaptcha-response POST parameter. -->
            <div id="contact"></div>

            <!-- Send button -->
            <button class="btn btn-red btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Envoyer
                ma demande</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form contact -->

{% endblock %}