{% extends 'Frontend/layout.html.twig' %}
{% block head %} <title> Accueil </title> {% endblock %}
{% block title %} Performance selon les profils de risque: {% endblock %}

{% block content %}
<!-- First row -->
{% for graph in graphs %}
<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="#" alt="Card image cap">
        <a href="#!">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title">{{graph.title}}</h4>
        <!-- Text -->
        <p class="card-text">{{graph.description}}</p>
        <!-- Button -->
        <a href="#" class="btn btn-primary">Agrandir</a>

    </div>

</div>
<!-- Card -->
{% endfor %}
{% endblock %}