{% extends 'Frontend/layout.html.twig' %}
{% block head %} <title>Mot de passe oublié</title> {% endblock %}
{% block title %}Mot de passe oublié{% endblock %}
{% block content %}
{% if data.mailExist.message %}
{% for succes in data.mailExist %}
<!-- Success strat -->
<div class="alert alert-primary" role="alert">
    {{succes}}
</div>
<!-- Success end -->
{% endfor %}
{% else %}
{% for errors in data.mailExist %}
<!-- Erreur strat -->
<div class="alert alert-danger" role="alert">
    {{errors}}
</div>
<!-- Erreur end -->
{% endfor %}
{% endif %}
<!-- Card -->
<div class="card">

    <!-- Card body -->
    <div class="card-body">

        <!-- Material form register -->
        <form action="/?p=lostPassword" method="POST">

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="materialFormCardEmailEx"
                    name="mail" class="form-control">
                <label for="materialFormCardEmailEx" class="font-weight-light">Entrer
                    votre e-mail (requis)</label>
            </div>

            <div class="text-center py-4 mt-3">
                <input name="submit" class="btn btn-red" type="submit" value="Envoyer"></input>
            </div>
        </form>
        <!-- Material form register -->

    </div>
    <!-- Card body -->

</div>
<!-- Card -->
{% endblock %}