{% extends 'Frontend/layout.html.twig' %}
{#-----------------------BLOC-TITLE-----------------------#}
{% block head %}
<title>Mot de passe oublié</title>
{% endblock %}
{#-----------------------END-BLOC-TITLE------------------------#}
{#------------------------BLOC-TITLE-PAGE-----------------------#}
{% block title %}
Mot de passe oublié
{% endblock %}
{#-----------------------END-BLOC-TITLE-PAGE-----------------------#}
{% block content %}
{#-------------------------CONDITION-DATA---------------------------#}
{% if data.mailExist.message %}
{#-------------------------SUCCES-MESSAGE-------------------------#}
{% for succes in data.mailExist %}
<div class="alert alert-primary" role="alert">
    {{succes}}
</div>
{% endfor %}
{#------------------------EDN-SUCCES-MESSAGE-------------------------#}
{#-------------------------ELSE-CONDITION-------------------------#}
{% else %}
{#-------------------------ERRORS-MESSAGE-------------------------#}
{% for errors in data.mailExist %}
<div class="alert alert-danger" role="alert">
    {{errors}}
</div>
{% endfor %}
{#------------------------EDN-ERRORS-MESSAGE-------------------------#}
{% endif %}
{#------------------------EDN-CONDITION-DATA-------------------------#}
{#------------------------CARD-------------------------#}
<div class="card">
{#------------------------CARD-BODY------------------------#}
    <div class="card-body">
        <form action="/?p=lostPassword" method="POST">
{#------------------------CARD-EMAIL------------------------#}
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="materialFormCardEmailEx"
                    name="mail" class="form-control" value="{{ data.dataMail }}">
                <label for="materialFormCardEmailEx" class="font-weight-light">Entrer
                    votre e-mail (requis)</label>
            </div>
{#-----------------------END-CARD-EMAIL------------------------#}
{#-----------------------SUBMIT------------------------#}
            <div class="text-center py-4 mt-3">
                <input name="submit" class="btn btn-red" type="submit" value="Envoyer"></input>
            </div>
        </form>
    </div>
{#-----------------------END-CARD-BODY------------------------#}
</div>
{#-----------------------END-CARD------------------------#}
{% endblock %}