{% extends 'Frontend/layout.html.twig' %}
{#--------------------------BLOC-TITLE-----------------------------#}
{% block head %}
<title>Nouveau mot de passe</title>
{% endblock %}
{#-------------------------END-BLOC-TITLE-----------------------------#}
{#--------------------------BLOC-TITLE-PAGE----------------------------#}
{% block title %}
Nouveau mot de passe
{% endblock %}
{#-------------------------END-BLOC-TITLE-PAGE----------------------------#}
{% block content %}
{#-------------------------CONDITION-DATA---------------------------#}
{% if data.newPass.message %}
{#-------------------------SUCCES-MESSAGE-------------------------#}
{% for succes in data.newPass %}
<div class="alert alert-primary" role="alert">
    {{succes}}
</div>
{% endfor %}
{#------------------------EDN-SUCCES-MESSAGE-------------------------#}
{#-------------------------ELSE-CONDITION-------------------------#}
{% else %}
{#-------------------------ERRORS-MESSAGE-------------------------#}
{% for errors in data.newPass %}
<div class="alert alert-danger" role="alert">
    {{errors}}
</div>
{% endfor %}
{#------------------------EDN-ERRORS-MESSAGE-------------------------#}
{% endif %}
{#------------------------EDN-CONDITION-DATA-------------------------#}
{#------------------------CARD-------------------------#}
    <div class="card">
{#------------------------CARD-BODY------------------------#}
        <div class="card-body">
            <form action="/?p=newPassword&token={{data.token}}"
                method="POST">
{#------------------------CARD-PASSWORD------------------------#}
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="materialFormCardPasswordEx"
                        name="newMdp"
                        class="form-control">
                    <label for="materialFormCardPasswordEx"
                        class="font-weight-light">Entrer votre mot de passe
                        (requis)</label>
                </div>
{#-----------------------END-CARD-PASSWORD------------------------#}
{#-----------------------CARD-PASSWORD-CONFIRMATION-----------------------#}
                <div class="md-form">
                    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                    <input type="password" id="materialFormCardConfirmEx"
                        name="newMdpConf"
                        class="form-control">
                    <label for="materialFormCardConfirmEx"
                        class="font-weight-light">Confirmation mot de passe
                        (requis)</label>
                </div>
{#-----------------------END-CARD-PASSWORD-CONFIRMATION-----------------------#}
{#-----------------------SUBMI------------------------#}
                <div class="text-center py-4 mt-3">
                    <input class="btn btn-red" name="submit" type="submit"
                        value="Envoyer"></input>
            </div>
        </form>
    </div>
{#-----------------------END-CARD-BODY------------------------#}
</div>
{#-----------------------END-CARD------------------------#}
{% endblock %}